@import "../../styles/variables.scss";

.AppBar {
  position: fixed;
  top: 24px;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 0 24px;
  z-index: 1;
}

.logo {
  color: $accent-1;
  transform: scale(2);
  justify-self: center;
  align-self: center;
}
