@import "./variables.scss";

@mixin absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin active-bg {
  background-color: $gray-1;
}

@mixin active-fg {
  color: white;
  fill: white;
  transform: scale(1.1);
}

svg {
  transition: all 0.3s ease-out;
}

button {
  border: none;
  outline: none;
  transition: all 0.6s;

  &.circle-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    opacity: 0.7;

    &.main {
      width: 96px;
      height: 96px;
      background-color: transparent;
      pointer-events: auto;
      z-index: 1050;
    }

    &.popup {
      background-color: white;
      margin: 8px 0;
      border: 2px solid $gray-1;
      opacity: 0;
      z-index: 1000;
    }

    &.touchover {
      @include active-bg();
    }

    &:active {
      @include active-bg();
    }

    svg.touchover {
      @include active-fg();
    }

    svg:active {
      @include active-fg();
    }

    span {
      font-weight: 700;

      &.touchover {
        @include active-fg();
      }
    }
  }
}

.circle-menu {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;

  @for $i from 2 through 4 {
    button:nth-of-type(#{$i}) {
      transform: translate(0, 12px);
      transition-delay: 75ms * (#{$i - 1});
    }
  }

  &.activated {
    pointer-events: auto;
  }

  @for $i from 2 through 4 {
    &.activated button:nth-of-type(#{$i}) {
      opacity: 0.7;
      transform: translate(0, 0);
      pointer-events: auto;
    }
  }
}
