.app {
  position: fixed;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;
  background-image: url(https://images.unsplash.com/photo-1566863244489-a5e7946f46f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 12px 24px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 16px solid white;
  touch-action: none;
}

.card:hover {
  box-shadow: 0px 24px 80px 4px rgba(0, 0, 0, 0.2);
}

.card.rest-shadow {
  box-shadow: 0px 12px 24px 2px rgba(0, 0, 0, 0.1);
}

.outer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  background-color: white;
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 30vh;
  height: 40vh;
  will-change: transform;
  box-shadow: 0px 12px 24px 2px rgba(0, 0, 0, 0.1);
}
