.card-wrapper {
  position: absolute;
  top: 6vh;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  background-color: white;
  width: 40vh;
  height: 54vh;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.2s;
  will-change: transform;
  touch-action: none;
}

.card:hover {
  box-shadow: 0 2px 40px 4px rgba(0, 0, 0, 0.07);
}

.card:active {
  box-shadow: 0 2px 40px 4px rgba(0, 0, 0, 0.12);
}
