@import "../../styles/variables.scss";

.ActionBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 40px;
  display: flex;
  justify-content: space-around;
  margin: 0 24px;
  pointer-events: none;
}
